*#
.#*
*~
.*.swp
*.elc
session.*
/dist
/auto-save-list
/elim
/ac-comphist.dat
/elpa
/emm
/emms
/backups
/tramp
/tmp
/eshell
*_flymake*
/config/my-requires.el
/var
/url
/speed-type
/speed-type
/request
/newsticker
/semanticdb
notes
.cache/
.litable-lists.el
projectile-bookmarks.eld
recentf
