*#
.#*
*~
.*.swp
.local/
projectile-bookmarks.eld
projectile.cache
recentf
transient/
straight/build
straight/modified
straight/build-cache.el
straight/repos
elpa/
semanticdb/
eshell/
session.*
/tmp
.lsp-session-*